# LAB Assignment 1

Python Data Structure

Exercise 1: Create a list by picking an odd-index items from the first list and even
index items from the second

In [1]:
def merge_lists(list1, list2):
    new_list = []
    for i in range(len(list1)):
        if i % 2 == 1:  
            new_list.append(list1[i])
    for i in range(len(list2)):
        if i % 2 == 0:  
            new_list.append(list2[i])
    return new_list

list1 = [1, 2, 3, 4, 5, 6]
list2 = [10, 20, 30, 40, 50, 60]
result = merge_lists(list1, list2)
print(result)

[2, 4, 6, 10, 30, 50]

Exercise 2: Remove and add item in a list

In [2]:
def modify_list(lst, remove_item, add_item):
    lst.remove(remove_item)
    lst.append(add_item)
    return lst

lst = [1, 2, 3, 4, 5]
result = modify_list(lst, 3, 6)
print(result)

[1, 2, 4, 5, 6]

Exercise 3: Slice list into 3 equal chunks and reverse each chunk

In [3]:
def slice_and_reverse(lst):
    chunk_size = len(lst) // 3
    chunks = []
    for i in range(0, len(lst), chunk_size):
        chunk = lst[i:i+chunk_size]
        chunks.append(chunk[::-1])
    return chunks

lst = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result = slice_and_reverse(lst)
print(result)

[[3, 2, 1], [6, 5, 4], [9, 8, 7]]

Exercise 4: Count the occurrence of each element from a list

In [4]:
def count_occurrences(lst):
    counts = {}
    for item in lst:
        if item in counts:
            counts[item] += 1
        else:
            counts[item] = 1
    return counts

lst = [1, 2, 2, 3, 3, 3, 4]
result = count_occurrences(lst)
print(result)

{1: 1, 2: 2, 3: 3, 4: 1}

Exercise 5: Find the intersection (common) of two sets and remove those elements
from the first set

In [5]:
def intersect_and_remove(set1, set2):
    common = set1.intersection(set2)
    for item in common:
        set1.remove(item)
    return set1

set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 6}
result = intersect_and_remove(set1, set2)
print(result)

{1, 2, 5}

Exercises On Loop

Exercise 1: Print First 10 natural numbers using while loop

In [6]:
def print_natural_numbers():
    i = 1
    while i <= 10:
        print(i)
        i += 1

print_natural_numbers()

1
2
3
4
5
6
7
8
9
10

Exercise 2: Find the sum of the series upto n terms

In [7]:
def sum_of_series(n):
    sum = 0
    i = 1
    while i <= n:
        sum += i
        i += 1
    return sum

n = 5  
result = sum_of_series(n)
print(result)

15

Exercise 3: Calculate the sum of all numbers from 1 to a given number

In [8]:
def sum_to_n(number):
    total = 0
    i = 1
    while i <= number:
        total += i
        i += 1
    return total

number = 10  
result = sum_to_n(number)
print(result)

55

Exercise 4: Write a program to print multiplication table of a given number

In [9]:
def multiplication_table(number):
    i = 1
    while i <= 10:
        print(number, "x", i, "=", number * i)
        i += 1

number = 5  
multiplication_table(number)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Exercise 5: Display numbers from a list using loop

In [10]:
def display_numbers_from_list(lst):
    for number in lst:
        print(number)

lst = [1, 2, 3, 4, 5]  
display_numbers_from_list(lst)

1
2
3
4
5

Excercise on function

Exercise 1: Create a function in Python

In [16]:
def greet():
    print("Hello World!")

greet()

Hello World!

Exercise 2: Create a function with variable length of arguments

In [12]:
def variable_length_args(*args):
    for arg in args:
        print(arg)

variable_length_args(1, 2, 3, 4, 5)

1
2
3
4
5

Exercise 3: Return multiple values from a function

In [13]:
def return_multiple_values():
    return 1, 2, 3

a, b, c = return_multiple_values()
print(a, b, c)

1 2 3

Exercise 4: Create a function with a default argument

In [14]:
def greet(name="User"):
    print("Hello,", name)

greet()        
greet("Alice")

Hello, User
Hello, Alice

Exercise 5: Create an inner function to calculate the addition in the following way

In [15]:
def outer_function(x):
    def inner_function(y):
        return x + y
    return inner_function

add_five = outer_function(5)
result = add_five(3)
print(result)

8